html {
  background-image: url('https://images.unsplash.com/photo-1635070041409-e63e783ce3c1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1558&q=80');
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.disclaimer {
  font-size: 2vh;
  color: red;
  background-color: black;
}

.container {  
  display: flex;
  flex-direction: column;
  padding: 2vw;
  justify-content: space-around;
  margin-top: 20vh;
  width: 40vw;
  min-width: min-content;
  min-height: min-content;
  height: 55vh; 
  border-radius: 10px;
  background-color: #338fff;
  border: 2px solid black;
}

.line1, .line2, .line3, .line4, .line5 {
  display: flex;
  justify-content: space-between;
  max-height: max-content;
  min-height: 0;
  min-width: 0;
}

.buttons {
  background-color: #ff8133;
  border-radius: 5px;
  font-family: 'Bebas Neue';
  font-size: 3vw;
  width: 20%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
  
  
}

#clearbtn, #equal {
  width: 47%;
}

#clearbtn, #backbtn {
  background-color: red;
}

#minus, #divide, #multiply, #add {
  background-color: gold;
}

#equal {
  background-color: green;
}
#display {
  width: 100%;
  display: flex;
  min-width: 0;
  min-height: 0;
  justify-content: flex-end;
  align-self: center;
  background-color: #bcb7b7;
  height: auto;
  border: 2px solid black;
  font-size: 4vw;
  border-radius: 5px;
}