html {
  background-image: url('https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1752&q=80');
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:100%;
}

.disclaimer {
  font-size: 2vh;
  color: black;
  font-weight: 600;
  
}

.container {  
  display: flex;
  flex-direction: column;
  padding: 2vw;
  justify-content: space-around;
  margin-top: 20vh;
  width: 40vw;
  min-width: min-content;
  min-height: min-content;
  height: 55vh; 
  border: 5px solid rgba(61, 61, 61, 0.608);
  border-radius: 60px;
  opacity: 0.90;
  background: rgb(188,183,183);
  background: linear-gradient(180deg, rgba(188,183,183,1) 0%, rgba(188,183,183,1) 25%, rgba(117, 116, 110, 0.829) 40%);
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.5), 0 15px 20px 0 rgba(0, 0, 0, 0.5);
}

.line1, .line2, .line3, .line4, .line5 {
  display: flex;
  justify-content: space-between;
  max-height: max-content;
  min-height: 0;
  min-width: 0;
}

.buttons {
  background-color: rgba(3, 3, 3, 0.708);
  color: #c7c7c7;
  border-radius: 10px;
  font-family: 'Bebas Neue';
  font-size: 3vw;
  width: 20%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}

#clearbtn, #equal {
  width: 47%;
}

#clearbtn, #backbtn {
  background-color: rgb(97, 96, 96);
  color: rgb(251, 99, 99);
}

#minus, #divide, #multiply, #add {
  background-color: rgb(97, 96, 96);
}

#equal {
  background-color: teal;
}
#display {
  width: 100%;
  display: flex;
  min-width: 0;
  min-height: 0;
  justify-content: flex-end;
  align-self: center;
  background-color: #bcb7b7;
  height: auto;
  
  font-size: 4vw;
  border-radius: 5px;
}